/* Force vertical scrollbar on web */

/* body {
  height: 100%;
  overflow-y: scroll;
} */

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: auto;
  overscroll-behavior: none;
}
